
.table{
  border-collapse: collapse;
  width: 75%;
  table-layout: solid;
  margin: 0  auto;
}
.enter {
margin: auto;
width: 50%;
border: 3px solid black;
padding: 10px;
}
.both{
  border: 1px dashed black;
  text-align: center;
  padding: 22px;
}
